
body {
  background-image: url("ask846.github.io/old-vegetables-veggies-health-healthy-cabbage-1418869-pxhere.com.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #cccccc;
}
h1 {
  color: Black;
  font-size: 32px;
}
p {
  font-size: 30px;
  color: grey;
}
